body {
  font-family: "Crimson Text", serif;
  text-align: center;
  margin: 0;
  background-color: #fff7fb;
  color: #222;
}

h1, h2, h3 {
  font-family: "Unica One", sans-serif;
}

.top {
  padding: 60px 20px;
  background-color: #ffe1ef;
}

.top h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.top p {
  font-size: 20px;
}

main {
  padding: 20px 20px;
}

.card {
  background-color: white;
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card h2 {
  font-size: 25px;
  color: #c94f8a;
}

.card p {
  font-size: 20px;
  line-height: 1.6;
}

.profile-pic {
  margin: 20px 0;
}
.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.card-row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top:25px;
}

.card-section {
  flex: 1 1 200px;
  padding: 15px;
  background-color: #fff7fb;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card-section h3 {
  color: #c94f8a;
  margin-top: 0;
}

.card-section p {
  line-height: 1.6;
}

@media (max-width: 700px) {
  .card-row {
    flex-direction: column;
  }
}